$font: Arial, Helvetica, sans-serif;

$aligning: center;

$margin: 15px 4px 4px 4px;

%navigation {
    color: black;
    text-decoration: none;
}

%ghostbuttons {
        display: inline-block;
        width: 200px;
        padding: 8px;
        text-align: center;
        outline: none;
        text-decoration: none;
        margin-bottom: 10px;
}

div.aztecDiv {
    margin: 0px;
    background: rgba(230, 184, 0, 0.3);

    nav {
         a {
            @extend %navigation;
        }
    }
}

nav {
    a{
        @extend %navigation;
        padding-right: 5px;
        padding-left: 5px;
    }
}


table {
    tr {
        th {
            font-family: $font;
            text-align: $aligning;
            margin: $margin;
        }

        td {
            font-family: $font;
            text-align: $aligning;
            margin: $margin;
        }
    }
}

.ghost-button.transition {
    @extend %ghostbuttons;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    background: rgba(255, 255, 255, 0.0);
}

.ghost-button.mesopotamia {
    @extend %ghostbuttons;
    margin-left: 250px;
    margin-right: 30px;
    color: #000;
    border: 1px solid #000;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.4);
    font-weight: bold;
}