$font: Arial, Helvetica, sans-serif;

$aligning: center;

$margin: 15px 4px 4px 4px;

$decoration: none;

%navigation {
    color: black;
    font-weight: bold;
    text-decoration: $decoration;
}

%ghostbuttons {
        display: inline-block;
        width: 200px;
        padding: 8px;
        text-align: $aligning;
        outline: $decoration;
        text-decoration: $decoration;
        margin-bottom: 10px;
}

/*index part*/

.index {
        text-align: $aligning;
        font-family: $font;
}

#main {
    text-decoration: $decoration;
}

.ghost-button.transition {
    @extend %ghostbuttons;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    background: rgba(255, 255, 255, 0.0);
}

/*end of index part*/
/*Slavic part*/

h2, #slavicDiv, .slavicdeity {
    text-align: $aligning;
}

.text {
    text-align: $aligning;
}

/*end of Slavic part*/
/*Aztec part*/

    #aztecNavForDif, a.aztecNav {
        text-align: $aligning;
        font-weight: bold;
        font-family: $font;
    }

    #divMesopotamia, #divAztec {
        margin-top: 20px;
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.2);
        border: 3px solid rgba(0, 0, 0, 0.4);
        box-shadow: -2px 2px 4px rgba(20, 13, 28, 0.5);

        nav {
            a {
                @extend %navigation;
            }
        }
    }

    nav, #slavicNav {
        a {
            @extend %navigation;
            padding-right: 5px;
            padding-left: 5px;
        }
    }


    table {
        tr {
            th {
                font-family: $font;
                text-align: $aligning;
                margin: $margin;
            }

            td {
                font-family: $font;
                text-align: $aligning;
                margin: $margin;
            }
        }
    }
    /*end of Aztec part*/
    /*Mesopotamian part*/

    #mesopotamianNavGeneral, #aztecNavForDif, a.aztecNav, #slavicNav, a.navigation {
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ghost-button.mesopotamia {
        @extend %ghostbuttons;
        color: #000;
        border: 1px solid #000;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.4);
        font-weight: bold;
    }