/*index part*/
@media (min-width:500px) {

    /*index part*/

    #index {
        background-image: url(0AsYDF.jpg);
        background-attachment:fixed;
        background-size:cover;
        opacity: 0.7;
        color: white;
    }

    .index {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .main {
        text-decoration: none;
        color: white;
    }

    #GustaveDore {
        height: 280px;
        display: block;
        width: inherit;
        padding-top: 4px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4px;
    }

    /*end of index part*/
    /*Slavic part*/

    .row, .col {
        width: 100%;
    }

    /*Aztec part*/

    #aztec {
        background-image: linear-gradient(-74deg, coral, #b30000);
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr > td {
        border-bottom: 1px solid black;
    }

    tr th {
        border-bottom: 1px solid black;
    }

    img.AztecImg {
        height: 350px;
        width: inherit;
        display: block;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;
    }

    /*Mesopotamian part*/

    .mesopotamianImg {
        height: 350px;
        display: block;
        width: inherit;
        padding-top: 4px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4px;
    }
}

ul {
    list-style-image: url("octopus.png");
}

@media (max-width:499px) {

    /*index part*/

    #index {
        background-image: linear-gradient(-90deg, #010038, #31305e);
        margin-left: 10px;
        margin-right: 10px;
    }

     .index {
    color: white;
    }

    .main {
        color: white;
        text-decoration: none;
    }

    #GustaveDore {
        height: 280px;
        display: block;
        width: inherit;
        padding-top: 4px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4px;
    }

    /*end of index part*/
    /*slavic part*/

    .row, .col {
        width: 100%;
    }

    /*Aztec part*/

    #aztec {
        background-image: linear-gradient(-78deg, #ff9999, #ff531a);
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr > td {
        border: 1px solid black;
    }

    tr th {
        border: 1px solid black;
    }

    td > img {
        height: 200px;
        width: inherit;
        padding-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        padding-bottom: 4px;
    }

    /*Mesopotamian part*/

    .ghost-button.mesopotamia {
        margin-left: 100px;
        margin-right:auto;
    }
    .mesopotamianImg {
        height: 200px;
        display: block;
        width: inherit;
        padding-top: 4px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4px;
    }
}
   
h3 {
    margin-top:60px;
}

a:hover {
    text-decoration: none;
    color: #ab2020;
}

.ghost-button.transition:hover, .ghost-button.transition:active, ghost-button.mesopotamia:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

    /*end of index part*/
    /*Slavic part*/

.navigation, #slavicNav {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: black;
    font-weight: bold;
}

.btn {
    font-weight: bold;
}

.Image {
    height: 350px;
    width: inherit;
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.row, .col {
    border: 1px solid black;
}

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 80%;
    max-width: 250px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

#divSlavic {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(0, 0, 0, 0.4);
    box-shadow: -2px 2px 4px rgba(20, 13, 28, 0.5);
}

    #slavic {
    background-size: auto;
    background-image: linear-gradient(85deg, coral, teal);
}

p {
    margin: 4px 4px 4px 4px;
    font-family:Arial, Helvetica, sans-serif;
}

/*end of Slavic part*/
/*Aztec part*/

    #aztecNav {
        text-align: center;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        color: black;
        font-weight: bold;
    }

/*end of Aztec part*/
/*Mesopotamian part*/

#mesopotamianNavGeneral {
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    color: black;
}

#mesopotamian {
    background-size: auto;
    background-image: linear-gradient(-83deg, #3333ff, #40bf80);
}